<h1><%= @restaurant.name %></h1>

<p><i class="fas fa-map-marker"></i> <%= @restaurant.address %></p>
<p><i class="fas fa-phone"></i> <%= @restaurant.phone_number %></p>
<p><i class="fas fa-drumstick-bite"></i> <%= @restaurant.category %></p>

<%#= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<h3>New Review for <%= @restaurant.name %></h3>

<%= render partial: 'reviews/review_form' %>

<div class="my-4">
  <%= link_to "Go back", @restaurant %>
</div>



<div class="my-4">
  <ul class="m-2">
    <% @restaurant.reviews.each do |review| %>
    <div class="my-3 p-3 bg-light rounded">
      <li>Review: <%= review.content %></li>
      <li>Rating: <%= '⭐️' * review.rating %></li>
    </div>
    <% end %>
  </ul>
</div>




<%= link_to "Go back", restaurants_path %>
