<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container pt-1">
        <%= link_to 'Yelp', root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav pl-5">
            <%= link_to 'Restaurants', restaurants_path, class: 'nav-item nav-link active' %>
            <%= link_to 'Add new', new_restaurant_path, class: 'nav-item nav-link' %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container pt-4">
      <%= yield %>
    </div>
  </body>
</html>
